* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: #333;
  font-family: product;
  user-select: none;
}

body {
  font-size: 1rem;
  font-family: product;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: product;
}


form>button{
  height: max-content;
  width: 100px;
  padding: 5px;
}

form>input{
  
  height: max-content;
    width: 150px;
    padding: 10px;
}